<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
	<title>My JSF 'input.jsp' starting page</title>
	
</head>
  
<body>
	<f:view>
		<h:form>
			<h:outputText value="#{manualValidatorBean.errors}" escape="false" />
			<h:panelGrid columns="2">
				<h:outputText value="Логин" />			
				<h:inputText value="#{manualValidatorBean.login}" />
				<h:outputText value="Возраст" />			
				<h:inputText value="#{manualValidatorBean.age}" />
				<h:outputText value="Ставка" />			
				<h:inputText value="#{manualValidatorBean.percent}" />
				<f:verbatim>&nbsp;</f:verbatim>
				<h:commandButton value="OK" action="#{manualValidatorBean.enterValue}" />
			</h:panelGrid>
		</h:form>
	</f:view>
</body>
</html>
