<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
	<title>My JSF 'input.jsp' starting page</title>
	
</head>
  
<body>
	<f:view>
		<h:form>
			<h:panelGrid columns="3">
				<h:outputText value="Логин" />			
				<h:inputText id="login" value="#{implicitValidatorBean.login}" required="true" />
				<h:message for="login" />
				<h:outputText value="Возраст" />			
				<h:inputText id="age" value="#{implicitValidatorBean.age}" />
				<h:message for="age" />
				<h:outputText value="Ставка" />			
				<h:inputText id="percent" value="#{implicitValidatorBean.percent}" />
				<h:message for="percent" />
				<f:verbatim>&nbsp;</f:verbatim>
				<h:commandButton value="OK" action="#{implicitValidatorBean.enterValue}" />
			</h:panelGrid>
			Либо можно вывести все ошибки сразу:<br />
			<h:messages />
		</h:form>
	</f:view>
</body>
</html>
