<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<body>
	<f:view>
		<h:form>
			<h:commandButton value="ToggleInput" actionListener="#{myBean.toggleInput}"
				immediate="true" />
			<h:selectBooleanCheckbox valueChangeListener="#{myBean.modeChanged}"
				immediate="true" onchange="submit()">
					Показать названия городов
			</h:selectBooleanCheckbox>
			<h:selectOneListbox value="#{myBean.selectedCity}" disabled="#{!myBean.inputEnabled}">
				<f:selectItems value="#{myBean.cities}" />
			</h:selectOneListbox>
			<h:commandButton value="OK" action="#{myBean.inputComplete}" />
		</h:form>
		Выбрано: <h:outputText value="#{myBean.selectedCity}" />
	</f:view>
</body>
</html>
