<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</h:head> 
<body> 
<ui:composition>
	<h:dataTable value="#{studentController.students}" var="student">
		<h:column>
			<f:facet name="header">ФИО</f:facet>
			<h:outputText value="#{student.name}" />
		</h:column>
		<h:column>
			<f:facet name="header">Курс</f:facet>
			<h:outputText value="#{student.course}" />
		</h:column>
		<h:column>
			<f:facet name="header">Обучается</f:facet>
			<h:selectBooleanCheckbox value="#{student.active}" readonly="true"/>
		</h:column>
	</h:dataTable>
	<h:form>
		<h:inputText value="#{studentController.courseFilter}" />
		<h:commandButton action="#{studentController.filterByCourse}" value="Выбрать" />
		<hr />
		Создать:
		<h:inputText value="#{studentController.name}" />
		<h:inputText value="#{studentController.course}" />
		<h:selectBooleanCheckbox value="#{studentController.active}"/>
		<h:commandButton action="#{studentController.createStudent}" value="Создать" />
	</h:form>

</ui:composition>
</body> 
</html>
