<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
	<title>JSF AJAX Demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<ui:composition>
<f:view>
	<h2>Поиск людей</h2>
	<h:form>
		Строка для поиска: <h:inputText value="#{personBean.searchString}"/>
		<h:commandButton value="Искать" action="#{personBean.search}">
			<f:ajax render="resultPanel" execute="@form"/>
		</h:commandButton>
	</h:form>
	<h:panelGroup id="resultPanel" rendered="#{not empty personBean.foundPersons}">
		<h3>По вашему запросу найдено:</h3>
		<ul>
			<ui:repeat var="person" value="#{personBean.foundPersons}">
				<li>#{person.name} #{person.age} #{person.city}</li>
			</ui:repeat>
		</ul>
	</h:panelGroup>
</f:view>
</ui:composition>
</body>
</html>
