<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head></head>
<body>
	<ui:composition>
		<h:panelGrid columns="1">
			<h:inputText />
			<h:commandButton action="Search" value="Искать" />
		</h:panelGrid>	</ui:composition>
</body>
</html>