<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head></head>
<body>
	<h:panelGrid columns="3">
		<a href="index.jsf">На главную</a>
		<a href="page1.jsf">Страница1</a>
		<a href="page2.jsf">Страница2</a>
	</h:panelGrid>
 		<table width="90%">
			<tr>
				<td><ui:insert name="leftblock" /></td>
				<td><ui:insert name="body" /></td>
			</tr>
		</table>
	<ui:insert name="footer" />
</body>
</html>