<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<f:view>
	<h:form>
		Представьтесь, пожалуйста: <h:inputText value="#{helloBean.name}" />
		<h:commandButton action="#{helloBean.sayHello}" value="OK" />
	</h:form>
	<h2><h:outputText value="#{helloBean.response}" /></h2>
</f:view>
</body> 
</html>
