<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
	<title>My JSF 'demo2.jsp' starting page</title>
	
</head>
  
<body>
	<f:view>
			<ul>
				<ui:repeat var="person" value="#{demo1.persons}">
					<li>#{person.firstName} #{person.lastName}</li>
				</ui:repeat>
			</ul>
	</f:view>
</body>
</html>
