<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
	<title>My JSF 'index.jsp' starting page</title>
	<style type="text/css">
		.head1 {
			font-weight: bold;
			color: yellow;
			background-color: blue;
		}
		.row1 {
			background-color: white;
			color: black; 
		}
		.row2 {
			background-color: silver;
			color: black; 
		}
	</style>
</head>
  
<body>
	<f:view>
		Люди:<br />
		<h:dataTable value="#{demo1.persons}" var="person"
				headerClass="head1" rowClasses="row1,row2">
			<h:column>
				<f:facet name="header">
					<h:outputText value = "Имя" />
				</f:facet>
				<h:outputText value="#{person.firstName}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value = "Фамилия" />
				</f:facet>
				<h:outputText value="#{person.lastName}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value = "Возраст" />
				</f:facet>
				<h:outputText value="#{person.age}" />
			</h:column>
		</h:dataTable>
	</f:view>
</body></html>
