<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
	<title>My JSF 'demo3.jsp' starting page</title>
	
</head>
  
<body>
	<f:view>
		<h:form>
			<h:dataTable value="#{demo3.personsModel}" var="person">
				<h:column>
					<f:facet name="header">
						<h:outputText value = "Фамилия" />
					</f:facet>
					<h:commandLink value="#{person.lastName}" action="#{demo3.selectPerson}" />
				</h:column>
			</h:dataTable>
		</h:form>
	</f:view>
</body>
</html>
