<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
	<title>My JSF 'demo2.jsp' starting page</title>
	
</head>
  
<body>
	<f:view>
		<h:form>
			<h:dataTable value="#{demo2.persons}" var="person" 
				binding="#{demo2.personTable}">
				<h:column>
					<f:facet name="header">
						<h:outputText value = "Имя" />
					</f:facet>
					<h:outputText value="#{person.firstName}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value = "Фамилия" />
					</f:facet>
					<h:outputText value="#{person.lastName}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value = "Возраст" />
					</f:facet>
					<h:outputText value="#{person.age}" />
				</h:column>
				<h:column>
					<h:commandButton value="Выбрать" action="#{demo2.selectPerson}" />
				</h:column>
			</h:dataTable>
		</h:form>
		Выбран: <h:outputText value="#{demo2.selectedPerson.lastName}" />
	</f:view>
</body>
</html>
